@CHARSET "EUC-KR";

#table1{
   border-collapse: collapse;
   border-top-width: 3px;
   border-bottom-width: 1px;
   border-top-style: solid;
   border-bottom-style: solid;
   border-top-color: red;
   border-bottom-color: #333;
   
}
 #table1 th,td{
   margin: 0px;
   padding: 10px;
   font-size: 11pt;
}

#table1 th{
   background-color: #999;
   color: #fff;
   border-bottom-width: 1px;
   border-bottom-color: #333;
}
#table1 td{
   border-bottom-width: 1px;
   border-bottom-color: #666;
   border-bottom-style: dotted; }

#table2{
   border-collapse: collapse;
   border-top-width: 3px;
   border-bottom-width: 1px;
   border-top-style: solid;
   border-bottom-style: solid;
   border-top-color: blue;
   border-bottom-color: #333;
   
}
 #table2 th,td{
   margin: 0px;
   padding: 10px;
   font-size: 11pt;
}

#table2 th{
   background-color: #999;
   color: #fff;
   border-bottom-width: 1px;
   border-bottom-color: #333;
}
#table2 td{
   border-bottom-width: 1px;
   border-bottom-color: #666;
   border-bottom-style: dotted; }
#commentTable{
   border-collapse: collapse;
   border-top-width: 3px;
   border-bottom-width: 1px;
   border-top-style: solid;
   border-bottom-style: solid;
   border-top-color: black;
   border-bottom-color: #333;
   text-align: left;
   
}
 #commentTable th,td{
   margin: 0px;
   padding: 10px;
   font-size: 11pt;
}

#commentTable th{
   background-color: #999;
   color: #fff;
   border-bottom-width: 1px;
   border-bottom-color: #333;
}
#commentTable td{
   border-bottom-width: 1px;
   border-bottom-color: #666;
   border-bottom-style: dotted; }



.menu a{cursor:pointer; }
.menu .hide{display:none;}
.h1_back { background-color: #c8c8c8; padding: 10px; }


#a_color { color:#323C73 !important; }

.portfolio-modal{position:relative;width:1100px;margin:0 auto;}

#commentTable tr { border-bottom:1px solid gray; }