.container .slide{
	position:relative;
	width:100%;
	height:400px;
	overflow:hidden;
	white-space:nowrap;
	border:1px solid #000;
}
@media (min-width:768px){
	header .container{
	padding-top:200px;padding-bottom:125px/*main size*/
}
.owl-carousel .item {
    line-height: 377px;
}